.blog {

  &__body {
    padding: 75px 0px 70px;
  }

  &__slider {
    margin-top: 45px;
  }
  &__wrapper {
    padding-bottom: 50px;
  }
  &__slide {
    border: 1px solid #EEEEEE;
    border-radius: $border-rad;
    padding: 15px 15px 26px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__item {
    border: 1px solid #EEEEEE;
    border-radius: $border-rad;
    padding: 15px 15px 26px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__content {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__more {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/blog-more.png') center/cover no-repeat;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      background: rgba(#F4F8FFE5, 0.9);
    }
    &:hover {
      .blog__more--text{
        color: $accent;
      }
     }
    &--text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      text-decoration-line: underline;
      color: $text;
      transition: color 0.4s ease 0s;
    }
  }
  &__img {
    position: relative;
    padding: 0 0 64%;
    display: block;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    &:hover {
      .blog--details {
        &.more--details{
          color: $accent;
        }
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet{
      width: 25px;
      height: 5px;
      border-radius: $border-rad;
      &-active{
        background: $accent;
      }
    }
  }
  &__img--label {
    background: $accent;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: $border-rad;
  }

  &__textblock {
    padding:0px 10px 0 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__item--title {
    margin:23px 0 17px;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 3px;
      height: 100%;
      left: -15px;
      top: 0;
      background: $accent;
    }
  }
}


.blog-list {

  &__body {
    padding: 70px 0;
  }

  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  }
  &__navigation {
    font-size: 16px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  &__button {
    color: $accent;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
    &.disabled{
      color: #C4C4C4;
      pointer-events: none;
    }
    &:first-child {
      margin-right: 25px;
    }
    &:last-child {
      margin-left: 25px;
    }
  }

  &__page {
    font-weight: 600;
    color: #666666;
    padding: 12px 17px 13px 14px;
    border-radius: $border-rad;
    margin: 0 5px 0;
    &.active {
      background: $accent;
      color: #ffffff;
    }
    
  }
}