.title-mini {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: $accent;
  margin-bottom: 5px;
}
.title {
  font-weight: 800;
  font-size: 29px;
  line-height: 36px;
  color: #FFFFFF;
  @media(max-width:600px){
    text-align: center;
  }
}
.title--black {
  color: $text;
  &--width{
  max-width: 420px;
  }
}
.title--center {
  text-align: center;
}
.title--footer {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.circle-3 {
  display: flex;
  &--margin{
    margin-top: 27px;
  }
  span{
    display: block;
    width: 5px;
    height: 5px;
    background: $accent;
    border-radius: 50%;
    &:not(:last-child){
      margin-right: 10px;
    }
    transition: all 0.4s ease 0s;
  }
  @media(max-width:600px){
    justify-content: center;
  }
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: $text;
  flex: 1 1 auto;
  &--center-1 {
    @media(max-width:600px){
      text-align: center;
    }
  }
  &--center-2 {
    @media(max-width:600px){
      text-align: center;
    }
  }
  &--accent {
    color: $accent;
  }
  &--white {
    color: #fff;
  }
  &--opacity {
    opacity: 0.7;
    font-size: 13px;
  }
}
.title--item {
  font-weight: 800;
  font-size: 19px;
  line-height: 22px;
  color: $text;
}
.more-details {
  display: block;
  font-weight: 800;
  font-size: 15px;
  line-height: 170%;
  color: $text;
  transition: color 0.4s ease 0s;
  margin-top: 10px;
  &:link{
    text-decoration: underline;
  }
  &:hover {
    color: $accent;
  }
  &--center{
    text-align: center;
    margin: 0;
  }
  &--light{
    color: $text-light;
  }
}
.m-1{
  margin: 28px 0 35px;
}


.m-auto{
  &__center-600{
    @media(max-width:600px){
      margin:0 auto;
    }
  }
}