.footer {
  background: $deep;
  &__body {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    @media(max-width:900px){
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__about {
    flex: 0 1 344px;
    @media(max-width:900px){
      margin-bottom: 20px;
    }
  }

  &__logo {
    margin-bottom: 40px;
    @media(max-width:450px){
      text-align: center;
    }
  }

  &__menu {
    padding: 0 10px;
    @media(max-width:900px){
      margin-bottom: 20px;
    }
  }

  &__decoration {
    span {
      width: 25px;
      height: 3px;
      border-radius: $border-rad;
      display: block;
      background-color: $accent;
    }
    margin-bottom: 20px;
  }

  &__list {
    li{
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.7;
    transition: all 0.4s ease 0s;
    &:hover {
      color: $accent;
      opacity: 1;
      text-decoration: underline;
    }
  }

  &__services {
    padding: 0 10px;
    @media(max-width:900px){
      margin-bottom: 20px;
    }
  }

  &__social {
    flex: 0 1 265px;
  }

  &__social--list {
    display: flex;
    margin-top: 35px;
    @media(max-width:450px){
      justify-content: space-between;
    }
    a {
      border: 1px solid rgba(255, 255, 255, 0.25);
      display: block;
      padding: 10px;
      border-radius: $border-rad;
      transition: all 0.4s ease 0s;
      &:not(:last-child){
        margin-right: 12px;
      }
      &:hover {
        background-color: $accent;
        .footer__icon{
          fill: rgba(#ffff, 1);
        }
      }
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: rgba(#ffff, 0.5);
    transition: all 0.4s ease 0s;
  }
}