.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  &__body {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 27px;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);

  }
  &__burger{
    display: none;
  }
  &__social {
    flex: 0 1 134px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
    background-color: rgba(196, 196, 196, 0.25);
    border-radius: 70px;
    padding: 7.5px 15px;
    @media(max-width:850px){
      display: none;
    }
    &--transparent{
      background: transparent;
    }
  }

  &__icon {
    max-width: 20px;
    height: 23px;
    fill: rgba(255, 255, 255, 0.75);
    transition: all 0.4s ease 0s;
    &:hover {
      fill: rgba(255, 255, 255, 1);
    }
    &--gray{
      fill: $middle-gray;
      &:hover {
        fill: #6F7A8B;
      }
    }
  }
}

.menu {
  &__list {
    display: flex;
    padding: 0 20px;
    @media(max-width:850px){
      padding: 0 0 0 20px;
    }
  }

  &__item {
    &:not(:last-child){
      margin-right: 20px;
    }
  }

  &__link {
    padding: 8px 15px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: background-color 0.4s ease 0s;
    border-radius: $border-rad;
    &:hover{
      background-color: rgba(196, 196, 196, 0.2);
    }
    &.active{
      background-color: rgba(196, 196, 196, 0.2);
    }
    &.active-1{
      background-color: $accent;
    }
    &--black {
      color: $text;
      &:hover{
        background-color: $accent;
        color: #FFFFFF;
      }
    }
  }
}
.logo{
  position: relative;
  z-index: 3;
}
.navbar {
  position: relative;
  z-index: 3;
}

.header-1 {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
}