.hero {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  background: $dark;
  
  &__slide {
    width: 100%;
    min-height: 630px;
    position: relative;
    border-radius: 10px;
    &--1{
      background:$dark url('../img/hero1.png') center/cover no-repeat;
    }
    &--2{
      background:$dark url('../img/hero2.jpg') center/cover no-repeat;
    }
    &--3{
      background:$dark url('../img/hero3.jpg') center/cover no-repeat;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    align-self: center;
    color: #FFFFFF;
    max-width: 370px;
    @media(max-width:425px){
      max-width: 100%;
      padding-right: 20px;
    }
  }
}
.content {
  &__title {
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    @media(max-width:425px){
      font-size: 36px;
    }
  }

  &__subtitle {
    margin: 14.5px 0 24.5px;
    padding: 7px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: $accent;
    border-radius: $border-rad;
  }

  &__text {
    padding: 15px 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    background: rgba(32, 35, 40, 0.9);
    border-radius: 0px 10px;
  }
}