.partners {
  background: url('../img/partners-bg.png')center/cover no-repeat;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($dark, 0.88);
  }
  &__body {
    padding: 70px 0;
    position: relative;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 20px;
    text-align: center;
    margin-top: 45px;
  }

  &__img {
    margin-bottom: 22px;
  }
}

