.trust {
  background: $deep;
  &__body {
    display: flex;
    justify-content: space-between;
    padding: 54px 0;
    @media(max-width:765px){
      flex-direction: column;
    }
  }

  &__left {
    color:$dark-header;
    flex: 0 1 730px;
    @media(max-width:1100px){
      flex: 0 1 500px;
    }
    @media(max-width:765px){
      flex: 0 1 auto;
      margin-bottom: 30px;
    }
  }

  &__caption {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    max-width: 220px;
    border-bottom: 1px solid $dark-div;
    padding-bottom: 15px;
    @media(max-width:426px){
      margin: 0 auto;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
    gap: 10px;
    margin-top: 16px;
    @media(max-width:426px){
      text-align: center;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &__item--number {
    font-weight: 700;
    margin-right: 6px;
  }

  &__call-us {
    flex: 0 1 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    @media(max-width:765px){
      align-items: center;
      flex: 0 1 auto;
    }
  }
}
.call-us {
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: $dark-header;
    text-align: right;
    @media(max-width:765px){
      text-align: center;
    }
  }

  &__tel {
    font-weight: 300;
    font-size: 28px;
    text-align: right;
    color: #FFFFFF;
    margin: 6px 0 16px;
    @media(max-width:765px){
      text-align: center;
    }
  }

  &__button {
    display: block;
    align-self: flex-end;
    @media(max-width:765px){
      align-self: center;
    }
  }
}
