.works-list {
  background: #FAFAFA;
  &__body {
  }
}

.list-card {
display: flex;
position: relative;
justify-content: space-between;
top: -60px;
  &__item {
    flex: 0 1 32%;
    background-color: #ffffff;
    &:hover{
      .list-card__text{
        border-bottom: 3px solid $accent;
      }
      .list-card__circle span{
        background: $accent;
      }
      .list-card__img::before,
      .list-card__img::after{
        opacity: 1;
      }
    }
  }

  &__img {
    position: relative;
    padding: 0 0 56% 0;
    &::before,
    &::after{
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: 3;
      display: block;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease 0s;
    }
    &::before {
      left: 20px;
      top: 20px;
      border-top: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
    }
    &::after{
      right: 20px;
      bottom: 20px;
      border-right: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
     }
  }
  &__text{
    padding: 25px;
    border-bottom: 3px solid #989DA5;
    transition: all 0.4s ease 0s;
  }
  &__adress {
    position: relative;
    padding-left: 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 170%;
    color: #989DA5;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 16px;
      left: 0;
      top: 0;
      background: url('../img/location.png');
    }
  }

  &__bottom {
    display: flex;
  }

  &__circle {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 17px;
    span{
      display: block;
      width: 5px;
      height: 5px;
      background: #E4E6E8;
      border-radius: 50%;
      &:not(:last-child){
        margin-bottom: 10px;
      }
      transition: all 0.4s ease 0s;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    text-decoration-line: underline;
  }
}
.more {
}
