<section class="about-short">
  <div class="container">
    <div class="about-short__body">
      <div class="about-short__img">
        <img src="./img/about-short.png" alt="">
        <div class="about-short__img--label">
          <p>32</p>
          <span>
            года на рынке
          </span>
        </div>
      </div>
      <div class="about-short__textblock">
        <div class="title-mini">\\ коротко о нас</div>
        <div class="title title--black m-auto__center-600 title--black--width">Проектируем и создаём экологичный комфорт</div>
        <div class="circle-3 circle-3--margin">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <p class="text m-1 text--center-1">
          В работе мы используем только лучшие материалы на рынке по доступным ценам. Наши специалисты подберут наиболее подходящие породы дерева, специалисты по дизайну разработают готовое решение.
        </p>
        <div class="about__list">
          <div class="about__item">
            <div class="about__top">
              <img src="./img/leaf.png" alt="">
              <div class="title--item">Безопасные материалы</div>
            </div>
            <p class="text text--center-2">
              Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского стандарта. Мы используем продукцию только проверенных годами брендов.
            </p>
            <a href="#" class="more-details">Подробнее</a>
          </div>
          <div class="about__item">
            <div class="about__top">
              <img src="./img/wood.png" alt="">
              <div class="title--item">Качественная древесина</div>
            </div>
            <p class="text text--center-2">
              В создании неповторимых интерьеров мы используем только качественную, проверенную европейскую древесину, которая будет служить вам долгие годы, сохраняя свои качества и безупречный внешний вид.
            </p>
            <a href="#" class="more-details">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>