<div class="company__tab company__benefits" data-path="benefits">
  <div class="title title--black title--center">Наши преимущества</div>
  <div class="benefits__list">
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/leaf.png" alt="">
      </div>
      <div class="title title--item benefits__title">Безопасные материалы</div>
      <p class="text">
        Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского стандарта. Мы используем продукцию только проверенных
        годами брендов.
      </p>
      <a href="" class="more-details">Подробнее</a>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/wood.png" alt="">
      </div>
      <div class="title title--item benefits__title">Качественная древесина</div>
      <p class="text">
        В создании неповторимых интерьеров мы используем только качественную, проверенную древесину, которая будет служить вам долгие годы, сохраняя свой безупречный первозданный
        внешний вид.
      </p>
      <a href="" class="more-details">Подробнее</a>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/team.png" alt="">
      </div>
      <div class="title title--item benefits__title">Профессиональная команда</div>
      <p class="text">
        Мы работаем только с профессионалами высочайшего уровня, обладающими глубоким опытом. Все наши дизайнеры, проектировщики, инженеры и архитекторы являются сертифицированными специалистами.
      </p>
      <a href="#" class="more-details">Подробнее</a>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/creative.png" alt="">
      </div>
      <div class="title title--item benefits__title">Лучшие креативные решения</div>
      <p class="text">
        Мы никогда не пользуемся лекалами и шаблонами. Каждый наш проект уникален и разрабатывается индивидуально под каждого клиента. Только так можно создать по-настоящему уникальный дизайн.
      </p>
      <a href="#" class="more-details">Подробнее</a>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/materials.png" alt="">
      </div>
      <div class="title title--item benefits__title">Качественные материалы</div>
      <p class="text">
        В своей работе мы уделяем особое внимание не только качеству древесины и основных строительных материалов, но и качеству расходных материалов, лаков, краски, химических средств.
      </p>
      <a href="#" class="more-details">Подробнее</a>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/delivery.png" alt="">
      </div>
      <div class="title title--item benefits__title">Проверенные поставщики</div>
      <p class="text">
        Мы работаем исключительно с проверенными итальянскими, немецкими и французскими брендами. Наши партнёры-производители проходят тщательную проверку, чтобы заслужить наше доверие.
      </p>
      <a href="#" class="more-details">Подробнее</a>
    </div>
  </div>
</div>