<section class="best-work">
  <div class="container">
    <div class="best-work__body">
      <p class="best-work__text">
        Представляем вам лучшие проекты, разработанные нашей командой профессионалов с любовью и заботой о клиентах. Портфолио позволит вам выбрать интересующий стиль, цвет дерева, фактуру, дизайн и расположение элементов.
      </p>
      <span class="best-work__line"></span>
      <div class="best-work__title">
        <div class="title-mini">\\ Лучшие работы</div>
        <div class="title">Создаём тёплую атмосферу вашего отдыха</div>
      </div>
    </div>
  </div>
</section>