<section class="blog-list">
  <div class="container">
    <div class="blog-list__body">
      <div class="title title--center title--black">Блог компании</div>
      <div class="subtitle">
        Список новостей компании Woodtech и статей на тему архитектурного дизайна, проектирования и дизайна интерьеров.
      </div>
      <div class="blog-list__list">
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item visible">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog2.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog3.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog3.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog3.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__item">
            <a href="#" class="blog__img">
              <img src="./img/blog3.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__item--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
      </div>
      <div class="blog-list__navigation">
        <button type="button" class="blog-list__button disabled blog-list__prev">← Назад</button>
        <button type="button" class="blog-list__page active">1</button>
        <button type="button" class="blog-list__page ">2</button>
        <button type="button" class="blog-list__page ">3</button>
        <button type="button" class="blog-list__button blog-list__next">Вперёд →</button>
      </div>
    </div>
  </div>
</section>