<section class="blog">
  <div class="container">
    <div class="blog__body">
      <div class="title title--black title--center">Наш блог</div>
      <div class="blog__slider swiper-container">
        <div class="blog__wrapper swiper-wrapper">
          <div class="blog__slide swiper-slide">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__slide--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__slide swiper-slide">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__slide--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__slide swiper-slide">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__slide--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__slide swiper-slide">
            <a href="#" class="blog__img">
              <img src="./img/blog1.png" alt="">
              <div class="blog__img--label">
                12 июля
              </div>
            </a>
            <div class="blog__textblock">
              <div class="blog__slide--title title--item">
                Построили потрясающую деревянную лестницу
              </div>
              <p class="text">
                Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
              </p>
              <a href="" class="more-details">
                Читать полностью
              </a>
            </div>
          </div>
          <div class="blog__slide swiper-slide">
            <div class="blog__content">
              <a href="#" class="blog__more">
                <div class="blog__more--text">
                  Перейти ко всем
                  записям блога
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="blog__pagination"></div>
      </div>
    </div>
  </div>
</section>