<div class="contacts">
  <div class="container">
    <div class="contacts__body">
      <div class="title title--center">Наши контакты</div>
      <div class="contacts__location"><span>г. Москва, пр. Скулатова, 224, оф 3.</span></div>
      <div class="contacts__telephone">+7 (499) 246-75-32</div>
      <div class="contacts__map">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Arbatskaya%20+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
      </div>
    </div>
  </div>
</div>