<section class="feedback">
  <div class="container">
    <div class="feedback__body">
      <div class="title title--black title--center">Обратная связь</div>
      <div class="subtitle">
        Задайте нам любой вопрос, напишите или сделайте заказ.
        Наши менеджеры ответят вам в ближайшее время.
      </div>
      <div class="feedback__forma">
        <form action="#" method="get" class="forma__body">
          <div class="forma__input">
            <input type="text" name="name" placeholder="Имя...">
          </div>
          <div class="forma__input">
            <input type="text" name="telephone" placeholder="Телефон...">
          </div>
          <div class="forma__text">
            <textarea name="message" placeholder="Ваше сообщение..." cols="30" rows="10"></textarea>
          </div>
          <div class="forma__button">
            <button type="submit" class="btn btn-m1">Отправить сообщение</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>