<header class="header header-1">
  <div class="container">
    <div class="header__body">
      <a href="#" class="logo">
        <img src="./img/logo-black.png" alt="logo company">
      </a>
        <nav class="navbar navbar--white">
          <ul class="menu__list">
            <li class="menu__item"><a href="#" class="menu__link menu__link--black">Главная</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--black">Проекты</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--black">Услуги</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--black">Блог</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--black">Компания</a></li>
          </ul>
        </nav>
        <div class="header__burger header__burger--black">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      <div class="header__social header__social--transparent">
        <a href="#" class="instagram">
          <svg class="header__icon header__icon--gray">
            <use xlink:href='./img/sprite.svg#inst'></use>
          </svg>
        </a>
        <a href="#" class="vk">
          <svg class="header__icon header__icon--gray">
            <use xlink:href='./img/sprite.svg#vk'></use>
          </svg>
        </a>
        <a href="#" class="facebook">
          <svg class="header__icon header__icon--gray">
            <use xlink:href='./img/sprite.svg#fb'></use>
          </svg>
        </a>
        <a href="#" class="twitter">
          <svg class="header__icon header__icon--gray">
            <use xlink:href='./img/sprite.svg#tw'></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
