<section class="hero">
  <div class="hero__slider swiper-container swiper-no-swiping">
    <div class="hero__wrapper swiper-wrapper">
      <div class="swiper-slide hero__slide hero__slide--1">
        <div class="container">
          <div class="hero__content">
            <div class="content__title">Woodhouse</div>
            <div class="content__subtitle">дизайн на высоком уровне</div>
            <p class="content__text">Разработка и реализация красивых интерьеров из дерева ещё никогда не была так доступна. Интерьеры из дерева различной породы сделают ваш дом уютным и тёплым, радуя вас и ваших гостей.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero__slide hero__slide--2">
        <div class="container">
          <div class="hero__content">
            <div class="content__title">Woodhouse</div>
            <div class="content__subtitle">дизайн на высоком уровне</div>
            <p class="content__text">Разработка и реализация красивых интерьеров из дерева ещё никогда не была так доступна. Интерьеры из дерева различной породы сделают ваш дом уютным и тёплым, радуя вас и ваших гостей.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero__slide hero__slide--3">
        <div class="container">
          <div class="hero__content">
            <div class="content__title">Woodhouse</div>
            <div class="content__subtitle">дизайн на высоком уровне</div>
            <p class="content__text">Разработка и реализация красивых интерьеров из дерева ещё никогда не была так доступна. Интерьеры из дерева различной породы сделают ваш дом уютным и тёплым, радуя вас и ваших гостей.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>