<section class="partners">
  <div class="container">
    <div class="partners__body">
      <div class="title title--center">Наши партнёры</div>
      <div class="partners__columns">
        <div class="partners__item">
          <div class="partners__img">
            <img src="./img/partner1.png" alt="">
          </div>
          <p class="text text--white">
            <span class="text--accent">Milano Parquet S.R.L.</span>
            Мы заботимся о древесине и тщательно следим за всем производственным процессом.
          </p>
        </div>
        <div class="partners__item">
          <div class="partners__img">
            <img src="./img/partner2.png" alt="">
          </div>
          <p class="text text--white">
            <span class="text--accent">Mazzucato Legnami</span>
             - итальянский производитель древесины, крупнейший лидер рынка в Европе.
          </p>
        </div>
        <div class="partners__item">
          <div class="partners__img">
            <img src="./img/partner3.png" alt="">
          </div>
          <p class="text text--white">
            <span class="text--accent">Andrea Fanfani </span>
            создаёт уникальную итальянскую мебель ручной работы, как продолжение вашего интерьера.
          </p>
        </div>
        <div class="partners__item">
          <div class="partners__img">
            <img src="./img/partner4.png" alt="">
          </div>
          <p class="text text--white">
            <span class="text--accent">Angelo Cappelini </span>
            воспроизводит мебель ушедших эпох: ампир, барокко, рококо и многие другие.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>