<div class="company__tab company__partners" data-path="partners">
  <div class="title title--black">Наши партнёры</div>
  <div class="partners__list">
    <div class="partners__row">
      <div class="partners__photo">
        <img src="./img/partners-tab/1.png" alt="">
      </div>
      <div class="partners__textblock">
        <div class="title--item title--item--accent">Milano Parquet S.R.L</div>
        <p class="text text--regular">
          Компания родилась из города, в котором она получила свое название: Милан. Современный и динамичный город, всегда идущий в ногу с тенденциями и постоянно развивающийся. Прогресс, инновации и возможности тесно связаны с образом жизни этого мегаполиса, где, пользуясь этим влиянием, наша компания более двадцати лет развивалась вместе с ним. Мы страстно и целеустремленно заботимся о древесине и с особой тщательностью следим за всем производственным процессом; от тщательного отбора сырья до различных процессов трансформации и отделки поверхностей, чтобы превратить драгоценные столы в изысканные и качественные полы.
        </p>
      </div>
    </div>
    <div class="partners__row">
      <div class="partners__photo">
        <img src="./img/partners-tab/2.png" alt="">
      </div>
      <div class="partners__textblock">
        <div class="title--item title--item--accent">Mazzucato Legnami</div>
        <p class="text text--regular">
          Mazzucato Legnami - историческая компания в районе Падуи, специализирующаяся на дереве. В центре производственной деятельности находятся лес, пиломатериалы, вагонка, садовые товары, столбы. Mazzucato Legnami предлагает широкий спектр услуг и продуктов в лесном секторе - оптом и в розницу - для частных лиц, ремесленников, промышленности и государственных организаций (через MEPA).
        </p>
      </div>
    </div>
    <div class="partners__row">
      <div class="partners__photo">
        <img src="./img/partners-tab/3.png" alt="">
      </div>
      <div class="partners__textblock">
        <div class="title--item title--item--accent">Andrea Fanfani</div>
        <p class="text text--regular">
          Mazzucato Legnami - историческая компания в районе Падуи, специализирующаяся на дереве. В центре производственной деятельности находятся лес, пиломатериалы, вагонка, садовые товары, столбы. Mazzucato Legnami предлагает широкий спектр услуг и продуктов в лесном секторе - оптом и в розницу - для частных лиц, ремесленников, промышленности и государственных организаций (через MEPA).
        </p>
      </div>
    </div>
    <div class="partners__row">
      <div class="partners__photo">
        <img src="./img/partners-tab/4.png" alt="">
      </div>
      <div class="partners__textblock">
        <div class="title--item title--item--accent">Angelo Cappellini</div>
        <p class="text text--regular">
          Более, чем вековой опыт в обработке дерева Angelo Cappellini уходит своими корнями в Брианцу, территорию, знаменитую своими традициями краснодеревщиков. Из ремесленной мастерской, основанной в 1886 году, до первой коллекции, представленной в шестидесятых годах, эволюция марки была постоянной.
          Более десяти этапов составляют производственный процесс Angelo Cappellini, где гармонично чередуются фазы ручной обработки и промышленные фазы. В данном контексте фазы реализации с участием станков последнего поколения сочетаются с опытом и техническими знаниями мастеров, делая процессы более эффективными, но в то же время следуя традициям и качеству ручной работы. Именно эта синергическая смесь, наряду с пристальным вниманием к деталям, отличают фирменные коллекции этой марки, известной во всём мире своим уникальным эксклюзивным стилем и высоким качеством исполнения.
        </p>
      </div>
    </div>
  </div>
</div>