<section class="project">
  <div class="container">
    <div class="project__body">
      <div class="project__top">
        <ul class="page__way">
          <li><a href="#" class="page__way--link">Главная</a></li>
          <li><a href="#" class="page__way--link">Проекты</a></li>
          <li><span class="page__way--end">Панорамная чилаут зона для чтения и отдыха</span></li>
        </ul>
        <div class="project__location">
          Санкт-Петербург, Английский Пр.
        </div>
      </div>
      <div class="project__slider swiper-container swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-1.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-2.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-3.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-4.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-5.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-6.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-7.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-8.jpg" alt="">
            </div>
          </div>
          <div class="project__slide swiper-slide">
            <div class="project__slide--img">
              <img src="./img/project-slider/project-9.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="project-mini__slider swiper-container">
        <div class="swiper-wrapper">
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-1.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-2.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-3.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-4.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-5.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-6.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-7.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-8.jpg" alt="">
            </div>
          </div>
          <div class="project-mini__slide swiper-slide">
            <div class="project-mini__slide--img">
              <img src="./img/project-slider/project-mini-9.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="title title--black title--center">
        Панорамная чилаут зона для чтения и отдыха
      </div>
      <div class="project__content">
        <article class="project__article">
          <p class="text text--regular mb-1">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
          </p>
          <div class="article__img img1 article__img--small">
            <img src="./img/project-artcl/img1.png" alt="">
          </div>
          <p class="text text--regular mx-1">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
          </p>
          <div class="article__img img2">
            <img src="./img/project-artcl/img2.png" alt="">
          </div>
          <p class="text text--regular mx-1">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
          </p>
          <div class="article__img img3">
            <img src="./img/project-artcl/img3.png" alt="">
          </div>
          <p class="text text--regular mx-1">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
          </p>
          <div class="article__img img3">
            <img src="./img/project-artcl/img4.png" alt="">
          </div>
          <p class="text text--regular mt-1">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
          </p>
        </article>
        <div class="project__aside">
          <div class="project__boss">
            <div class="project__boss--position">
              Старший архитектор
            </div>
            <div class="project__boss--photo">
              <img src="./img/boss.png" alt="">
            </div>
            <div class="project__boss--name">Евгений Григорьев</div>
            <p class="text project__boss--description">
              Выпускник гарвардского университета, кандидат наук, профессиональный архитектор. В общей сложности реализовал более 120 проектов.
            </p>
          </div>
          <div class="project__info">
            <div class="project__info--title">Информация о проекте</div>
            <ul class="project__info--list">
              <li><span class="project__info--caption">Заказчик</span><span class="point"></span>Частное лицо</li>
              <li><span class="project__info--caption">Площадь</span><span class="point"></span>24 кв. м.</li>
              <li><span class="project__info--caption">Время разработки</span><span class="point"></span>3 недели</li>
              <li><span class="project__info--caption">Высота потолка</span><span class="point"></span>3.4 метра</li>
              <li><span class="project__info--caption">Толщина стен</span><span class="point"></span>45 см.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>