<section class="projects">
  <div class="container">
    <div class="projects__body">
      <div class="title title--center title--black">
        Наши проекты
      </div>
      <div class="subtitle">
        Представляем вам лучшие работы нашей студии дизайна. От потрясающих гостиных до самых необычных эксклюзивных решений.
      </div>
      <div class="projects__colection">
        <div class="projects__item">
          <img src="./img/project1.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item big">
          <img src="./img/project2.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item">
          <img src="./img/project3.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item">
          <img src="./img/project4.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item">
          <img src="./img/project5.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item big">
          <img src="./img/project6.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project7.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item big">
          <img src="./img/project8.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project9.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project1.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item big">
          <img src="./img/project2.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project3.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project4.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project5.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item big">
          <img src="./img/project6.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project7.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item big">
          <img src="./img/project8.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects__item ">
          <img src="./img/project9.png" alt="">
          <div class="projects__details">
            <div class="projects__container">
              <div class="projects__content">
                <div class="projects__company">Заказчик: Компания «Арес»</div>
                <div class="projects__name">Холл для гостей</div>
                <a href="#" class="more-details more-details--center more-details--light ">Ознакомиться</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>