<section class="service">
  <div class="container">
    <div class="service__body">
      <div class="title title--center title--black">Наши услуги</div>
      <div class="subtitle">
        Здесь мы собрали все ключевые услуги нашей компании, разбитые по категориям. Если необходимой вам услуги нет в списке, напишите нам.
      </div>
      <div class="service__list">
        <a href="service.html" class="service__item">
          <div class="service__textblock">
            <div class="title title--item">
              Дизайн интерьера
            </div>
            <p class="text service__text">
              Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами, выполненными в различных стилях и со вкусом.
            </p>
          </div>
          <div class="service__img">
            <img src="./img/service/1.png" alt="">
          </div>
        </a>
        <a href="service.html" class="service__item">
          <div class="service__textblock">
            <div class="title title--item">
              Проектирование
            </div>
            <p class="text service__text">
              Производим высокоточные архитектурные инженерные расчёты любого плана. С нами вы можете не беспокоиться о долговечности и качестве любых конструкций.
            </p>
          </div>
          <div class="service__img">
            <img src="./img/service/2.png" alt="">
          </div>
        </a>
        <a href="service.html" class="service__item">
          <div class="service__textblock">
            <div class="title title--item">
              Поставка дерева
            </div>
            <p class="text service__text">
              Мы поставляем исключительно качественные породы древесины от надёжных итальянских и французских поставщиков. Вся древесина соответствует евростандарту.
            </p>
          </div>
          <div class="service__img">
            <img src="./img/service/3.png" alt="">
          </div>
        </a>
        <a href="service.html" class="service__item">
          <div class="service__textblock">
            <div class="title title--item">
              Ремонт
            </div>
            <p class="text service__text">
              Выполняем ремон мебели и изделий из древесины. В найшей современной технологичной мастерской найдутся инструменты и материалы для любых задач.
            </p>
          </div>
          <div class="service__img">
            <img src="./img/service/4.png" alt="">
          </div>
        </a>
        <a href="service.html" class="service__item">
          <div class="service__textblock">
            <div class="title title--item">
              Концепт
            </div>
            <p class="text service__text">
              Одно из наших направлений - создание концептуальных инсталляций из древесины для тех, кто ценит современное искусство и желает разнообразить свой интерьер.
            </p>
          </div>
          <div class="service__img">
            <img src="./img/service/5.png" alt="">
          </div>
        </a>
        <a href="service.html" class="service__item">
          <div class="service__textblock">
            <div class="title title--item">
              Выезд мастера
            </div>
            <p class="text service__text">
              Вы обладатель старинной, тяжёлой или необычной мебели или изделий из древесины? Мы приедем к вам со всем необходимым инструментом сами.
            </p>
          </div>
          <div class="service__img">
            <img src="./img/service/6.png" alt="">
          </div>
        </a>
      </div>
      <a href="feedback.html" class="service__button">
        <button class="btn btn-m2">Оформить заявку</button>
      </a>
    </div>
  </div>
</section>