<section class="service-page">
  <div class="container">
    <div class="service-page__body">
      <div class="title title--center title--black">Дизайн интерьера</div>
      <div class="subtitle">
        Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами, выполненными в различных стилях и со вкусом.      </div>
      <div class="container-1">
        <article>
          <div class="service-page__img">
            <div class="article__img img4">
              <img src="./img/service/artcl-1.png" alt="">
            </div>
          </div>
          <div class="container-2">
            <p class="text text--regular mx-1">
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
            </p>
            <div class="article__img img4">
              <img src="./img/service/artcl-2.png" alt="">
            </div>
            <p class="text text--regular mx-1">
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
            </p>
            <p class="text text--regular mb-1">
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
            </p>
            <p class="text text--regular">
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>