<section class="trust">
  <div class="container">
    <div class="trust__body">
      <div class="trust__left">
        <div class="trust__caption">Нам доверяют</div>
        <div class="trust__line"></div>
        <div class="trust__list">
          <p class="trust__item"><span class="trust__item--number">860</span>клиентов по всему миру</p>
          <p class="trust__item"><span class="trust__item--number">23</span>надёжных партнёна</p>
          <p class="trust__item"><span class="trust__item--number">12</span>поставщиков</p>
          <p class="trust__item"><span class="trust__item--number">36</span>лучших франчайзи</p>
          <p class="trust__item"><span class="trust__item--number">108</span>производителей мебели</p>
          <p class="trust__item"><span class="trust__item--number">85</span>сотрудников</p>
          <p class="trust__item"><span class="trust__item--number">38</span>пернатых попугаев</p>
          <p class="trust__item"><span class="trust__item--number">256</span>восьмибитных цветов</p>
        </div>
      </div>
      <div class="trust__call-us">
        <div class="call-us__text">
          Позвоните нам или оставьте заявку с сайта.
          Мы перезвоним вам в течение 10 минут.
        </div>
        <div class="call-us__tel">
          +7 (499) 246-75-32
        </div>
        <a href="feedback.html" class="call-us__button">
          <button type="button" class="btn">
          Оформить заявку сейчас
          </button>
        </a>
      </div>
    </div>
  </div>
</section>