<section class="works-list">
  <div class="container">
    <div class="works-list__body">
      <div class="list-card">
        <a href="#" class="list-card__item">
          <div class="list-card__img">
            <img src="./img/works1.png" alt="">
          </div>
          <div class="list-card__text">
            <div class="list-card__adress">Санкт-Петербург, Английский Пр.</div>
          <div class="list-card__bottom">
            <div class="list-card__circle">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="list-card__title">Современная гостиная в древесных тонах</div>
          </div>
          </div>
        </a>
        <a href="#" class="list-card__item">
          <div class="list-card__img">
            <img src="./img/works1.png" alt="">
          </div>
          <div class="list-card__text">
            <div class="list-card__adress">Санкт-Петербург, Английский Пр.</div>
          <div class="list-card__bottom">
            <div class="list-card__circle">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="list-card__title">Современная гостиная в древесных тонах</div>
          </div>
          </div>
        </a>
        <a href="#" class="list-card__item">
          <div class="list-card__img">
            <img src="./img/works1.png" alt="">
          </div>
          <div class="list-card__text">
            <div class="list-card__adress">Санкт-Петербург, Английский Пр.</div>
          <div class="list-card__bottom">
            <div class="list-card__circle">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="list-card__title">Современная гостиная в древесных тонах</div>
          </div>
          </div>
        </a>
      </div>
      <button type="button" class="more">Показать ещё</button>
    </div>
  </div>
</section>