@import "mixins";
@import "vars";
@import "fonts";
// Шрифт по умолчанию =============================================================================
$fontFamily: "Raleway";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1280;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1150px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;
// базовые подключения
@import "nullStyle";

// подключения компонентов страницы ===============================================================
@import "./components/header";
@import "./components/hero";

// подключения елементов ===============================================================
@import "./components/burger";

.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
}


// подключения елементов ===============================================================
